@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Мониторинг через Prometheus</h1>
    <p>Эта страница демонстрирует работу Prometheus метрик.</p>
    <a href="/Home/Error">Сгенерировать ошибку</a>
</body>
</html>
